<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Fabio Tomasello, I am originally from a small village in Sicily (Trecastagni) and bla bla, trick and track, and hand bombs.</p>
      </div>
      <div class="col-lg-4">
        <p>Graphic design is not my current job, but my everlasting passion. This website is both a collection of my work and an opportunity to reach you. Bla bla bla </p>
      </div>
    </div>
  </div>
</section>
